@charset "ISO-8859-1";
section{
	display: flex;
}
#img1{
	width:150px;
	height:150px;
}
img{
	width:240px;
	height:240px;
}

form label, form input {
  display: table-cell;
  margin-bottom: 10px;
}
body {
  display: table;
  margin: 5 auto;
}
div {
  color: grey;
  flex: 2;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
}
#youtube{
	margin-top:10px;
	margin-left:500px;
}
#mapa{
	width:100%;
}